# BEGIN WP Hide & Security Enhancer
<IfModule mod_rewrite.c> 
RewriteEngine On 
RewriteBase /marcato/ 
#WriteCheckString:1693882392_7608
RewriteRule ^rewrite_test_1693882392_7608/? /marcato/wp-content/plugins/wp-hide-security-enhancer/include/rewrite-confirm.php [L,QSA]
RewriteRule ^rewrite_test_static_file_1693882392_7608/? /marcato/wp-content/plugins/wp-hide-security-enhancer/composer.json [L,QSA]
</IfModule> 

# END WP Hide & Security Enhancer
php_value upload_max_filesize 512M
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /marcato/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /marcato/index.php [L]
</IfModule>

# END WordPress